services:
  app:
    image: ./geoloc
    container_name: geoloc_app
    restart: unless-stopped
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: bridge